/* screen - frame-1 */

.frame-1 {
  align-items: flex-start;
  background-color: #fcf3e2;
  display: flex;
  height: 1326px;
  overflow: hidden;
  padding: 457px 0;
  width: 2152px;
}

.frame-1 .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: -568px;
  margin-top: 27px;
  min-height: 385px;
  width: 1198px;
}

.frame-1 .name {
  color: #054610;
  font-family: var(--font-family-avantgarde_lt_medium-regular);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 107px;
  min-height: 297px;
  min-width: 492px;
}

.frame-1 .rectangle-1 {
  background-color: var(--dark-fern);
  height: 24px;
  margin-top: 1px;
  width: 1198px;
}

.frame-1 .flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 10px;
  height: 51px;
  margin-left: 106.0px;
  margin-top: 12px;
  min-width: 106px;
}

.frame-1 .mail {
  align-self: flex-end;
  cursor: pointer;
  height: 48px;
  transition: all 0.25s ease-in;
  width: 48px;
}

.frame-1 .mail:hover {
  transform: scale(0.9); 
}

.frame-1 .linkedin {
  cursor: pointer;
  height: 48px;
  transition: all 0.25s ease-in;
  width: 48px;
}

.frame-1 .linkedin:hover {
  transform: scale(0.9); 
}

.frame-1 .resume {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 156px;
  margin-top: 157px;
  min-height: 38px;
  transition: all 0.25s ease-in;
  width: 97px;
}

.frame-1 .resume:hover {
  transform: scale(0.9); 
}

.frame-1 .photography {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 241px;
  margin-top: 159px;
  min-height: 36px;
  transition: all 0.25s ease-in;
  width: 157px;
}

.frame-1 .photography:hover {
  transform: scale(0.9); 
}

.frame-1 .projects {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 241px;
  margin-top: 162px;
  min-height: 43px;
  transition: all 0.2s ease;
  width: 93px;
}

.frame-1 .projects:hover {
  transform: scale(0.9); 
}
