/* screen - terrain */

.terrain {
  background-image: url(../img/terrain.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-height: 540px;
  min-width: 720px;
  width: 100%;
}

.terrain .arrow_back {
  cursor: pointer;
  height: 24px;
  margin-left: 25px;
  margin-top: 240px;
  width: 24px;
}
